$main-color: #D38E1F;
$title-font: 'KudryashevDisplay';

body {
    font-family: 'ProximaNova';
    font-size: 20px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

header, main, footer, .modal {
    font-size: 19px;
    color: #151515;
}

.main {
    min-height: calc(100vh - 97px - 304px);
}

a, button, svg {
    transition: 0.5s;
}

img {
    max-width: 100%;
    height: auto
}

.no-btn {
    @include no-btn();
}

.button {
    @include no-btn();
    padding: 13px 50px;
    background: $main-color;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        background: #DFA341;
        color: #fff;
        box-shadow: 0px 25px 45px rgba(209, 147, 47, 0.38);
    }
}

.button--w {
    background-color: #fff;
    color: #C07B0B;
    padding: 20px;
    font-weight: 600;
    border: 1px solid #C07B0B;

    &:hover,
    &:focus,
    &:active {
        border-color: #fff;
    }
}

.input {
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 7px;
    padding: 17px 30px 18px;
    position: relative;
    max-width: 100%;

    &:hover,
    &:focus,
    &:focus-visible {
        border: 1px solid #D57800;
        outline: none;
    }

    &::placeholder {
        color: #C1C1C1;
        font-weight: 300;
    }

    &.error {
        border: 1px solid #E02C2C;

        &::before {
            content: 'Feld has error or empty';
            font-size: 18px;
            color: #E02C2C;
            font-family: inherit;
            position: absolute;
            right: 0;
            top: -20px;
        }
    }

    &:disabled {
        background: #F7F7F7;
        border: none;
        color: #A4A4A4;
    }
}

.list {
    list-style: none;
    padding-left: 0;

    & li {
        margin-bottom: 5px;
    }

    & li::before {
        content: '';
        width: 7px;
        height: 7px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        background-color: $main-color;
        border-radius: 50%;
    }
}

.list-num {
    list-style: none;
    padding-left: 0;

    & li {
        margin-bottom: 15px;

        &::before {
            font-weight: 800;
            font-size: 35px;
            vertical-align: middle;
            background: linear-gradient(180deg, rgba(225, 177, 100, 0.45) 0%, rgba(225, 177, 100, 0) 100%);
            background-clip: text;
            color: transparent;
            margin-right: 12px;
        }
    }
}

@for $i from 1 to 5 {
    .list-num li:nth-of-type(#{$i}):before {
        content: '#{$i}';
    }
}

@media (min-width: 1400px) {
    .container, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container-xl, 
    .container-xxl {
        max-width: 1570px;
    }
}

@media (max-width: 992px) {
    header, main, footer, .modal {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header, main, footer, .modal {
        font-size: 14px;
    }

    .list li::before {
        margin-right: 10px;
    }

    .list-num li {
        margin-bottom: 10px;
    }

    .list-num li::before {
        margin-right: 10px;
        font-size: 26px;
    }
}