.filter {
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(225, 177, 100, 0.72);
    box-shadow: 0px 4px 60px rgba(65, 65, 65, 0.34);
    border-radius: 10px;

    & .button {
        padding: 20px 44px;
        border-radius: 0px 10px 10px 0px;
        font-size: 0;
    }
}

.filter__item  {
    width: calc((100% - 128px) / 4);
    margin: 10px 0;
    border-right: 1px solid #CCCBCB;
    padding-left: 96px;
    background-position: center left 40px;
    background-repeat: no-repeat;

    & input,
    & select {
        @include no-btn();
        width: 100%;
        height: 100%; 
        font-weight: 300;
        font-size: 21px;
        position: relative;
        padding: 10px;

        &::placeholder {
            color: #000;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    & select {
        width: 200px;
        max-width: 100%;
        background: url('../img/arrow-up.svg') no-repeat center right 20px;
    }
}

.filter--catalog .filter__item  {
    width: calc((100% - 156px) / 3);
    background-position: bottom 5px left 24px;
    padding: 0 24px;

    & > label {
        font-size: 22px;
        color: $main-color;
        display: block;
        margin-bottom: 5px;
    }

    & > select {
        margin-left: 40px;
        height: 44px;
        width: calc(100% - 40px);
    }
}

.filter__item--id {
    background-image: url('../img/hash.svg');
}

.filter__item--type {
    background-image: url('../img/house.svg');
}

.filter__item--var {
    background-image: url('../img/building.svg');
}

.filter__item--cat {
    background-image: url('../img/rent.svg');
}

.filter__item--area {
    background-image: url('../img/location.svg');
}

.filter__item--f {
    position: relative;
    background-image: url('../img/filter.svg');
    border-right: none;

    & .no-btn {
        height: 100%;
        font-size: 21px;
        font-weight: 300;
        padding: 20px 0;
    }
}

.filter--catalog .filter__item--f {
    background: none;
    padding: 0;
    width: auto;

    & .no-btn {
        padding: 20px 60px;
    }
}

.filter__setings {
    width: 945px;
    max-width: 100vw;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(65, 65, 65, 0.34);
    border-radius: 0px 0px 20px 20px;
    padding: 40px 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    display: none;
    position: absolute;
    right: 0;
    top: 75px;

    &.show {
        display: flex;
    }

    & .filter__set {
        width: 45%;
        margin-bottom: 30px;

        & label {    
            font-weight: 400;
            font-size: 21px;
            color: $main-color;
            margin-bottom: 10px;
            display: block;
        }

        & input:not([type="checkbox"]) {
            width: 100%;
            padding: 8px 0;
            border-bottom: 1px solid #CCCBCB;
            height: auto;

            &::placeholder {
                color: #CCCBCB;
            }
        }

        & select {
            padding: 8px 0;
            border-bottom: 1px solid #CCCBCB;
            height: auto;
            width: 100%;
        }

        & .tab {
            color: $main-color;
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            font-size: 21px;
            margin: 0 3%;
        }

        & input.half {
            width: 43%;
        }
    }
}

.filter__checkboxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filter__checkbox {
    & input {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }

    & input + label::before {
        content: '';
        width: 24px;
        height: 24px;
        background: rgba(238, 238, 238, 0.35);
        border: 1px solid #E1B164;
        border-radius: 3px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

    & input:checked + label::before {
        content: '';
        width: 24px;
        height: 24px;
        background: rgba(238, 238, 238, 0.35) url('../img/yes.svg') no-repeat center;
        border: 1px solid #E1B164;
        border-radius: 3px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

    & label.ch-l {
        color: #3C3C3B;     
        font-weight: 300;
        font-size: 21px;
    }
}

.filter__reset {
    width: 100%;
    text-align: right;
}

@media (max-width: 1400px) {
    .catalog__filter .nav-link {
        margin-left: 13px;
    }
    .filter--catalog .filter__item--f .no-btn {
        padding: 20px;
    }
    .filter--catalog .filter__item:not(.filter__item--f) {
        width: calc((100% - 76px)/ 3);
        background-position: bottom 11px left 8px;
        padding: 0 10px;
        background-size: 30px;
    }
    .filter--catalog .filter__item > select {
        margin-left: 28px;
        width: calc(100% - 28px);
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .filter__item {
        width: calc((100% - 100px)/ 4);
        margin: 5px 0;
        padding-left: 42px;
        background-position: center left 8px;
    }
    .filter .button {
        padding: 12px 30px;
    }
    .filter__item input, 
    .filter__item select {
        padding: 0 10px;
        font-size: 16px;
    }
    .filter__item select {
        background-position: center right 7px;
    }
    .filter__item--f .no-btn {
        font-size: 16px;
        padding: 18px 15px;
    }
}

@media (max-width: 992px) {
    .filter__item {
        width: calc((100% - 70px)/ 4);
        margin: 5px 0;
        padding-left: 30px;
        background-size: 25px;
    }
    .filter .button {
        padding: 10px 20px;
        & img {
            width: 30px;
        }
    }
    .filter:not(.filter--catalog) .filter__setings {
        width: 621px;
        right: -48px;
        top: 61px;
    }
    .filter--catalog .filter__setings {
        width: 696px;
    }
    .filter__setings .filter__set input.half {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .filter {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 22px 25px;
        border: 1px solid rgba(225, 177, 100, 0.72);
        box-shadow: 0px 4px 60px rgba(65, 65, 65, 0.34);
        border-radius: 10px;
    }
    .filter__item {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgba(204, 203, 203, 0.4);
        padding: 12px 0 12px 30px;
    }
    .filter--catalog .filter__item:not(.filter__item--f) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgba(204, 203, 203, 0.4);
        padding: 12px 0 12px;        
        background-size: 18px;
        background-position: bottom 16px left;
    }
    .filter--catalog .filter__item > select {
        height: 24px;
        margin-left: 20px;
        width: calc(100% - 20px);
    }
    .filter__item--f {
        border-bottom: none;
        order: 3;
        background: none;
        width: auto;
    }
    .filter__item--f .no-btn:not(.filter__reset) {
        padding: 0;
        font-size: 0;
        width: 40px;
        height: 40px;
        background: url('../img/filter.svg') no-repeat center/contain;
    }
    .filter .button {
        font-size: inherit;
        padding: 10px 60px;
        border-radius: 7px;

        & img {
            width: 20px;
            margin-left: 10px;
        }
    }
    .filter:not(.filter--catalog) .filter__setings {
        width: 514px;
        right: -25px;
        top: 57px;
    }
    .filter--catalog .filter__setings {
        max-width: calc(100% + 50px);
        top: 60px;
        right: -25px;
    }
    .filter__setings .filter__set {
        width: 100%;
        margin-bottom: 20px;
    }
    .filter__setings .filter__set label {
        font-size: 18px;
    }
    .filter__checkbox input+label::before,
    .filter__checkbox input:checked+label::before {
        width: 20px;
        height: 20px;
    }
    .catalog__filter .nav-tabs {
        margin-left: 10px;
    }
    .catalog__filter .nav-link {
        font-size: 14px;
        padding: 7px 24px 5px 19px;
        margin-left: 10px;
    }
    .filter--catalog .filter__item--f {
        width: 100%;

        & .btn-group {
            width: 100%;
        }
    }
    .filter--catalog .filter__item--f .no-btn:not(.filter__reset) {
        width: 100%;
        background: none;
    }
    .filter--catalog .filter__item label,
    .filter--catalog .filter__item select {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .filter:not(.filter--catalog) .filter__setings {
        width: 95vw;
    }
}