.main .breadcrumb {
    margin: 30px 0 45px;
    font-size: 12px;
    font-weight: 600;

    & a {
        color: rgba(60, 60, 59, 0.68);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $main-color;
        }
    }

    & .breadcrumb-item.active {
        color: $main-color;

    }

    & .breadcrumb-item+.breadcrumb-item::before {
        opacity: 0.6;
    }
}

.product__title {
    font-family: $title-font;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #3C3C3B;
    text-align: center;
    margin-bottom: 70px;
}

.product {
    position: relative;
    padding: 40px 0;
    background: #F8F8F8;

    & .callback {
        top: 40px;
    }
}

.product__about {
    width: 70%;
    margin-left: auto;
}

.product__data {
    background: #FFFFFF;
    border: 1px solid rgba(225, 177, 100, 0.72);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0 15px;
    margin-bottom: 50px;
}

.product__data-item {
    flex: 1 1 auto;
    padding: 20px 2%;
    font-weight: 300;

    &:not(.btn-item) {
        border-right: 1px solid #CCCBCB;
    }

    & .acc {
        font-weight: 400;
        color: $main-color;
    }

    &.price {
        font-weight: 600;
        font-size: 30px;
        color: $main-color;
        white-space: nowrap;padding: 8px 2%;

        & .currency {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: rgba(204, 203, 203, 0.76);
            text-align: center;
            padding: 5px 0;
            font-weight: 400;
            font-size: 19px;
            color: $main-color;
            margin-left: 2%;
            vertical-align: middle;
        }
    }
}

.product__data-cat {
    background: rgba(238, 238, 238, 0.6);
    border-radius: 7px;
    padding: 10px 13px;
    margin: 10px 0 10px 15px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    color: rgba(60, 60, 59, 0.74);

    & img {
        max-width: 46px;
        margin-right: 15px;
    }
}

.product__visual {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   grid-template-rows:  205px 125px;
    grid-gap: 25px;
    margin-bottom: 40px;
    position: relative;
}

.onMap {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 13px 15px;
    z-index: 3;

    & img {
        width: 30px;
    }
}

#map-product .modal-body {
    width: 100%;
    height: 80vh;
}

.product__gallery {
    grid-column: 1 / 4;
    grid-row: 1 / 3;

    &.video {
        background: #fff;
        border: 1px solid rgba(217,217,217,.65);
        border-radius: 10px;
        position: relative;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        padding: 23px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .acc {
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
            color: #d38e1f;
            margin-bottom: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/play.svg) center no-repeat;
            text-decoration: none;
        }
    }

    & .swiper-button-n,
    & .swiper-button-p {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        background: url('../img/pr-nav.svg') no-repeat center/contain;
        z-index: 1;
        opacity: 0.7;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    & .swiper-button-p {
        transform: translateY(-50%) rotate(180deg);
        left: 9px;
        right: auto;
    }
}

.product__info {
    background: #FFFFFF;
    border: 1px solid rgba(217, 217, 217, 0.88);
    border-radius: 10px;
    padding: 30px 30px 20px;
    grid-column: 4 / 6;
    grid-row: 1 / 2;

    & .catalog-item__data .nums p {
        padding-left: 40px;
        padding-right: 7px;
        background-size: 35px;
        margin-right: 0;
        font-weight: 300;
        font-size: 19px;
        text-align: right;

        & span {
            color: #000;
            display: block;
            font-weight: 400;
            font-size: 16px;
        }
    }

    & .catalog-item__data .nums .metrs {
        border-right: 1px solid #CCCBCB;
        margin-right: 6px;
    }

    & .catalog-item__info td {
        font-size: 19px;
    }

    & .catalog-item__info .acc {
        font-weight: 600;
    }
}

.product__video {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background: #FFFFFF;
    border: 1px solid rgba(217, 217, 217, 0.65);
    border-radius: 10px;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding: 23px 15px;
    cursor: pointer;

    & .acc {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: 12px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/play.svg') no-repeat center;
        text-decoration: none;
    }
}

.product__photo {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    cursor: pointer;
}

.product__scrollbar {
    width: 561px;
    height: 6px;
    max-width: 100%;
    background: linear-gradient(90deg, rgba(225, 177, 100, 0.58) 0%, rgba(211, 142, 31, 0.26) 104%);
    margin: 0 auto 40px;
    border-radius: 10px;
    position: relative;

    & .swiper-scrollbar-drag {
        height: 12px;
        background: rgba(225, 177, 100, 0.93);
        border-radius: 10px;position: absolute;
        top: -2px;
    }
}

.product__back {
    text-align: right;

    & a {
        text-decoration: none;
        color: $main-color;
        text-transform: uppercase;

        &::before {
            content: '';
            width: 23px;
            height: 23px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            background: url('../img/back.svg') no-repeat center/contain;
        }
    }
}

.product__text {
    margin-bottom: 90px;
    color: #000;

    & h3 {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 20px;
    }

    & p {
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.product__subtitle {
    font-size: 40px;
    justify-content: space-between;
    &::before {
        display: none;
    }
}

.product__slider {
    margin: 20px 0 74px;

    & .swiper-button-next,
    & .swiper-button-prev {
        float: right;
        width: 76px;
        height: 76px;
        right: 170px;
        bottom: 80px;
        background: url(../img/arrow.svg) center no-repeat rgba(217,217,217,.22);
        border-radius: 50%;
        margin-bottom: 45px;
    }

    & .swiper-button-next {
        transform: rotate(180deg);
        margin-left: 20px;
    }

    & .catalog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.product__info-mob {
    display: none;
}

@media (max-width: 1550px) {
    .product__info {
        padding: 30px 15px 20px;
    }
}

@media (max-width: 1400px) {
    .product__data-item {
        max-width: 22%;

        &.btn-item {
            max-width: 265px;
        }
    }
    .product__data-item.price {
        font-size: 23px;
    }
    .product__data-item .button {
        width: 100%;
        padding: 13px;
        white-space: nowrap;
    }
    .product__info .catalog-item__data .nums p {
        padding-left: 0;
        padding-bottom: 10px;
        background-size: 35px;
        background-position: bottom left;
    }
    .product__info .catalog-item__data .nums p span {
        margin-bottom: 7px;
    }
    .product__info .catalog-item__info td {
        font-size: 17px;
    }
    .product__video {
        padding: 18px 10px;
    }
    .product__video .acc {
        font-size: 13px;
    }
    .product__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 1200px) {
    .product__data-item {
        font-size: 15px;
    }
    .product__data-item.price {
        font-size: 20px;
    }
    .product__info .catalog-item__data .nums p span {
        display: none;
    }
    .product__info .catalog-item__data .nums p {
        font-size: 16px;
        padding-left: 40px;
        background-size: 30px;
        line-height: 30px;
        background-position: center left;
        padding-bottom: 0;
    }
    .product__info .catalog-item__info td {
        font-size: 14px;
    }
    .catalog-item__info .acc {
        padding-right: 10px;
    }
}

@media (max-width: 992px) {
    .product__about {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .product__data {
        display: none;
    }
    .product__info-mob {
        display: block;
        background: #FFFFFF;
        border: 1px solid rgba(217, 217, 217, 0.88);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 47px;
        margin-top: 30px;

        & .price {
            background: linear-gradient(-277deg, #E1B164 -0.63%, rgba(255, 255, 255, 0) 94.64%);
            border: 1px solid rgba(225, 177, 100, 0.25);
            border-radius: 0 7px 7px 0;
            max-width: 70%;
            text-align: right;
            padding: 7px 20px;
            margin-top: 25px;

            & .num,
            & .cur {
                font-weight: 600;
                font-size: 24px;
                color: $main-color;
            }

            & .currency {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: rgba(204, 203, 203, 0.76);
                color: #fff;
                font-weight: 400;
                font-size: 12px;
                display: inline-flex;
                vertical-align: middle;
                margin-left: 22px;
                align-items: center;
                justify-content: center;
                align-content: center;
            }
        }

        & .content {
            padding: 20px;
        }

        & .catalog-item__info {
            margin-bottom: 26px;
        }

        & .button {
            padding: 13px;
            width: 230px;
            margin: 0 auto 45px;
            display: block;
        }
    }

    .product__cats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .product__data-cat {
        padding: 10px 23px 10px 13px;
        font-size: 13px;
    }
    .product__data-cat img {
        max-width: 30px;
        margin-right: 4px;
    }
    .main .breadcrumb {
        margin: 16px 0 25px;
        font-size: 10px;
    }
    .product__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .product__visual {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 215px 105px;
        grid-gap: 10px;
        margin-bottom: 30px;

        & .product__info {
            display: none;
        }
    }
    .product__scrollbar {
        width: 100%;
        height: 4px;
        margin-bottom: 30px;
    }
    .product__scrollbar .swiper-scrollbar-drag {
        height: 9px;
        top: -3px;
    }
    .product__gallery {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .product__video {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .product__photo {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .product__text {
        margin-bottom: 40px
    }
    .product__text h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .product__slider .swiper-button-next, .product__slider .swiper-button-prev {
        width: 40px;
        height: 40px;
        margin-bottom: 25px;
        background-size: 76%;
    }
}