.main .breadcrumb {
    margin: 30px 0 45px;
    font-size: 12px;
    font-weight: 600;

    & a {
        color: rgba(60, 60, 59, 0.68);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $main-color;
        }
    }

    & .breadcrumb-item.active {
        color: $main-color;

    }

    & .breadcrumb-item+.breadcrumb-item::before {
        opacity: 0.6;
    }
}

.product__title {
    font-family: $title-font;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #3C3C3B;
    text-align: center;
    margin-bottom: 70px;
}

.product {
    position: relative;
    padding: 40px 0;
    background: #F8F8F8;

    & .callback {
        top: 0;
    }
}

.product__about {
    width: 70%;
    margin-left: auto;
}

.product__data {
    background: #FFFFFF;
    border: 1px solid rgba(225, 177, 100, 0.72);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 35px 0;
    margin-bottom: 50px;
}

.product__data-item {
    flex: 1 1 auto;
    padding: 20px 3%;
    font-weight: 300;

    &:not(:last-child) {
        border-right: 1px solid #CCCBCB;
    }

    & .acc {
        font-weight: 400;
        color: $main-color;
    }

    &.price {
        font-weight: 600;
        font-size: 30px;
        color: $main-color;
        white-space: nowrap;

        & .currency {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: rgba(204, 203, 203, 0.76);
            text-align: center;
            padding: 5px 0;
            font-weight: 400;
            font-size: 19px;
            color: $main-color;
            margin-left: 2%;
            vertical-align: middle;
        }
    }
}

.product__visual {
    display: grid;
    grid-template-areas: 'A A A A B B'
                         'A A A A C D';
    grid-gap: 25px;
    margin-bottom: 40px;
}

.product__slider-img {
    grid-area: A;

    & .swiper-button-n,
    & .swiper-button-p {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        background: url('../img/pr-nav.svg') no-repeat center/contain;
        z-index: 1;
        opacity: 0.7;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    & .swiper-button-p {
        transform: translateY(-50%) rotate(180deg);
        left: 9px;
        right: auto;
    }
}

.product__info {
    background: #FFFFFF;
    border: 1px solid rgba(217, 217, 217, 0.88);
    border-radius: 10px;
    padding: 30px 40px 20px;
    grid-area: B;

    & .catalog-item__data .nums p {
        padding-left: 58px;
        padding-right: 20px;
        background-size: 47px;
        margin-right: 0;
        font-weight: 300;
        font-size: 19px;
        line-height: 47px;
    }

    & .catalog-item__data .nums .metrs {
        border-right: 1px solid #CCCBCB;
        margin-right: 20px;
    }

    & .catalog-item__info td {
        font-size: 19px;
    }

    & .catalog-item__info .acc {
        font-weight: 600;
    }
}

.product__video {
    grid-area: C;
    background: #FFFFFF;
    border: 1px solid rgba(217, 217, 217, 0.65);
    border-radius: 10px;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding: 23px 15px;
    width: 210px;

    & .acc {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: 12px;
    }

    & a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/play.svg') no-repeat center;
        text-decoration: none;
    }
}

.product__photo {
    grid-area: D;
}

.product__scrollbar {
    width: 561px;
    height: 6px;
    max-width: 100%;
    background: linear-gradient(90deg, rgba(225, 177, 100, 0.58) 0%, rgba(211, 142, 31, 0.26) 104%);
    margin: 0 auto 40px;
    border-radius: 10px;
    position: relative;

    & .swiper-scrollbar-drag {
        height: 12px;
        background: rgba(225, 177, 100, 0.93);
        border-radius: 10px;position: absolute;
        top: -2px;
    }
}

.product__back {
    text-align: right;

    & a {
        text-decoration: none;
        color: $main-color;
        text-transform: uppercase;

        &::before {
            content: '';
            width: 23px;
            height: 23px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            background: url('../img/back.svg') no-repeat center/contain;
        }
    }
}

.product__text {
    margin-bottom: 90px;
    color: #000;

    & h3 {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 20px;
    }

    & p {
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.product__subtitle {
    font-size: 40px;
    justify-content: space-between;
    &::before {
        display: none;
    }
}

.product__slider {
    margin: 20px 0 74px;

    & .swiper-button-next,
    & .swiper-button-prev {
        float: right;
        width: 76px;
        height: 76px;
        right: 170px;
        bottom: 80px;
        background: url(../img/arrow.svg) center no-repeat rgba(217,217,217,.22);
        border-radius: 50%;
        margin-bottom: 45px;
    }

    & .swiper-button-next {
        transform: rotate(180deg);
        margin-left: 20px;
    }

    & .catalog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
}