<div class="callback">
    <h2 class="callback__title">Індивідуальний підбір</h2>
    <p>Надішліть заявку на індивідуальний підбір нерухомості!</p>
    <p>Наш менеджер зв'яжеться з вами у найкоротші терміни.</p>
    <form class="callback__form">
        <select name="cb-type" id="cb-type">
            <option value="both">Оренда/Продаж</option>
            <option value="rent">Оренда</option>
            <option value="sale">Продаж</option>
        </select>
        <input type="text" placeholder="Ваше ім’я">
        <input type="tel" placeholder="Ваше телефон">
        <button class="button button--w">ВІДПРАВИТИ</button>
    </form>
</div>