<div class="catalog-item">
    <a href="product.html">
        <div class="catalog-item__top"><img src="img/catalog-item.jpg" alt="" class="catalog-item__img">
            <p class="catalog-item__type">Оренда</p>
            <p class="catalog-item__price">2000 $</p>
        </div>
        <div class="catalog-item__bottom">
            <div class="catalog-item__data">
                <p class="place">Київ<br>Печерський р-н</p>
                <div class="nums">
                    <p class="metrs">1279 м²</p>
                    <p class="rooms">2</p>
                </div>
            </div>
            <table class="catalog-item__info">
                <tr>
                    <td class="acc">ID об’єкта</td>
                    <td>000001</td>
                </tr>
                <tr>
                    <td class="acc">Вулиця</td>
                    <td>Саксаганського,3</td>
                </tr>
                <tr>
                    <td class="acc">ЖК</td>
                    <td>Печерські Липки</td>
                </tr>
            </table>
        </div>
    </a>
</div>