<form class="filter filter--catalog">
    <div class="filter__item filter__item--var">
        <label for="type">Тип</label>
        <select name="type" id="type">
            <option>Всі об’єкти</option>
            <option value="sale">Квартира</option>
            <option value="rent">Будинок</option>
            <option value="sale">Комерція</option>
        </select>
    </div>
    <div class="filter__item filter__item--cat">
        <label for="cat">Категорія</label>
        <select name="cat" id="cat">
            <option>Оренда / Продаж</option>
            <option value="sale">Продаж</option>
            <option value="rent">Оренда</option>
        </select>
    </div>
    <div class="filter__item filter__item--area">
        <label for="area">Район</label>
        <select name="area" id="area">
            <option value="all">Всі райони</option>
            <option value="flat">Печерський</option>
            <option value="busines">Шевченківський</option>
            <option value="house">Дарницький</option>
        </select>
    </div>
    <div class="filter__item filter__item--f">
        <div class="btn-group">
            <button type="button" class="no-btn" id="filterSettings">
                <img src="img/filter.svg" alt="">
            </button>
            <div class="filter__setings">
                <div class="filter__set">
                    <label>Загальна площа</label>
                    <input type="text" class="half" placeholder="Мін">
                    <span class="tab">—</span>
                    <input type="text" class="half" placeholder="Макс">
                </div>
                <div class="filter__set">
                    <label>Ціна</label>
                    <input type="text" class="half" placeholder="Мін">
                    <span class="tab">—</span>
                    <input type="text" class="half" placeholder="Макс">
                </div>
                <div class="filter__set">
                    <label>Район</label>
                    <select>
                        <option>Всі райони</option>
                        <option>Район 1</option>
                        <option>Район 2</option>
                    </select>
                </div>
                <div class="filter__set">
                    <label>Житлові комплекси</label>
                    <select>
                        <option>ЖК не вибраний</option>
                        <option>Житлові комплекси 1</option>
                        <option>Житлові комплекси 2</option>
                    </select>
                </div>
                <div class="filter__set">
                    <label>Вулиця</label>
                    <select>
                        <option>Усі вулиці</option>
                        <option>Вулиця 1</option>
                        <option>Вулиця 2</option>
                    </select>
                </div>
                <div class="filter__set">
                    <label>Ремонт</label>
                    <select>
                        <option>Ремонт</option>
                        <option>Ремонт 1</option>
                        <option>Ремонт 2</option>
                    </select>
                </div>
                <div class="filter__set">
                    <label>Кількість кімнат</label>
                    <div class="filter__checkboxes">
                        <div class="filter__checkbox">
                            <input type="checkbox" name="rooms" id="1">
                            <label class="ch-l" for="1">1</label>
                        </div>
                        <div class="filter__checkbox">
                            <input type="checkbox" name="rooms" id="2">
                            <label class="ch-l" for="2">2</label>
                        </div>
                        <div class="filter__checkbox">
                            <input type="checkbox" name="rooms" id="3">
                            <label class="ch-l" for="3">3</label>
                        </div>
                        <div class="filter__checkbox">
                            <input type="checkbox" name="rooms" id="4">
                            <label class="ch-l" for="4">4</label>
                        </div>
                        <div class="filter__checkbox">
                            <input type="checkbox" name="rooms" id="5">
                            <label class="ch-l" for="5">5+</label>
                        </div>
                    </div>
                </div>
                <div class="filter__set">
                    <label>ID об’єкта</label>
                    <input type="text" placeholder="Номер">
                </div>
                <button class="no-btn filter__reset" type="button">Скинути фільтр</button>
            </div>
        </div>
    </div>
</form>