<footer class="footer">
    <section class="footer__data">
        <div class="container">
            <div class="footer__contacts">
                <a href="/"><img src="img/logo-w.svg" alt="Lipki Plaza Logo" class="footer__logo"></a>
                <div class="footer__contact">
                    <div class="title title-a">Адреса:</div>
                    <div class="value">вул. М.Драгомирова, 18</div>
                </div>
                <div class="footer__contact">
                    <div class="title title-p">Контакти: </div>
                    <div class="value">
                        <div class="header__phone">
                            <a href="tel:+380731183090">+380 73 118 30 90</a>
                            <p class="text">ОРЕНДА</p>
                        </div>
                        <div class="header__phone">
                            <a href="tel:+380731183090">+380 73 118 30 90</a>
                            <p class="text">ПРОДАЖ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__menu">
                <h4 class="footer__menu-title">Категорії нерухомості</h4>
                <ul class="footer__menu-list">
                    <li><a href="rent-appartment.html" class="footer__menu-link">Оренда квартир у Києві</a></li>
                    <li><a href="rent-house.html" class="footer__menu-link">Оренда будинків у Києві та області</a></li>
                    <li><a href="rent-commercia.html" class="footer__menu-link">Оренда комерційної нерухомості</a></li>
                    <li><a href="buy-appartment.html" class="footer__menu-link">Продаж квартир у Києві</a></li>
                    <li><a href="buy-house.html" class="footer__menu-link">Продаж будинків  у Києві та області</a></li>
                    <li><a href="buy-commercia.html" class="footer__menu-link">Продаж  комерційної нерухомості</a></li>
                </ul>
            </div>
            <div class="footer__callback">
                <h4 class="footer__callback-title">Замовте дзвінок експерта</h4>
                <p class="footer__callback-text">Необхідна консультація чи безкоштовна оцінка об’єкта нерухомості - залиште заявку та наш експерт обовязково Вам передзвонить.</p>
                <button class="button">Передзвонити Вам?</button>
            </div>
        </div>
    </section>
    <section class="footer__copyright">
        <div class="container">
            <p>© 2022- “LIPKI PLAZA” всі права захищені</p>
        </div>
    </section>
</footer>
