<footer class="footer">
    <section class="footer__data">
        <div class="container">
            <div class="footer__contacts">
                <a href="/"><img src="img/logo-w.svg" alt="Lipki Plaza Logo" class="footer__logo"></a>
                <div class="footer__contact">
                    <div class="title title-a">Адреса:</div>
                    <div class="value">вул. М.Драгомирова, 18</div>
                </div>
                <div class="footer__contact">
                    <div class="title title-p">Контакти: </div>
                    <div class="value">
                        <div class="header__phone">
                            <a href="tel:+380731183090">+380 73 118 30 90</a>
                            <p class="text">ОРЕНДА</p>
                        </div>
                        <div class="header__phone">
                            <a href="tel:+380731183090">+380 73 118 30 90</a>
                            <p class="text">ПРОДАЖ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__menu">
                <h4 class="footer__menu-title">Категорії нерухомості</h4>
                <ul class="footer__menu-list">
                    <li><a href="rent-appartment.html" class="footer__menu-link">Оренда квартир у Києві</a></li>
                    <li><a href="rent-house.html" class="footer__menu-link">Оренда будинків у Києві та області</a></li>
                    <li><a href="rent-commercia.html" class="footer__menu-link">Оренда комерційної нерухомості</a></li>
                    <li><a href="buy-appartment.html" class="footer__menu-link">Продаж квартир у Києві</a></li>
                    <li><a href="buy-house.html" class="footer__menu-link">Продаж будинків  у Києві та області</a></li>
                    <li><a href="buy-commercia.html" class="footer__menu-link">Продаж  комерційної нерухомості</a></li>
                </ul>
            </div>
            <div class="footer__callback">
                <h4 class="footer__callback-title">Замовте дзвінок експерта</h4>
                <p class="footer__callback-text">Необхідна консультація чи безкоштовна оцінка об’єкта нерухомості - залиште заявку та наш експерт обовязково Вам передзвонить.</p>
                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#callback">Передзвонити Вам?</button>
            </div>
        </div>
    </section>
    <section class="footer__copyright">
        <div class="container">
            <p>© 2022- “LIPKI PLAZA” всі права захищені</p>
        </div>
    </section>
</footer>
  <!-- Modal -->
  <div class="modal fade" id="callback" tabindex="-1" aria-labelledby="callbackLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal__contant">
        <div class="modal-header modal__header">
          <h5 class="modal-title" id="callbackLabel">Залишити   заявку</h5>
          <p class="acc">* поля обов’язкові до заповнення</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="modal__form">
                <div class="modal__item">
                    <label for="pip">Ваше ПІП*</label>
                    <div class="input-group">
                        <span class="input-group-text" id="pip">
                            <img src="img/user.svg" alt="">
                        </span>
                        <input type="text" class="form-control" placeholder="ПІП">
                    </div>
                </div>
                <div class="modal__item">
                    <label for="phone">Телефон*</label>
                    <div class="input-group">
                        <span class="input-group-text" id="phone">
                            <img src="img/phone.svg" alt="">
                        </span>
                        <input type="text" class="form-control" placeholder="Телефон">
                    </div>
                </div>
                <div class="modal__item">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <span class="input-group-text" id="email">
                            <img src="img/email.svg" alt="">
                        </span>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <label for="text">Ваше повідомлення</label>
                <textarea name="text" id="text" rows="7"></textarea>
                <div class="modal__footer"><button class="button">ВІДПРАВИТИ</button></div>
            </form>
        </div>
      </div>
    </div>
  </div>
